VITE_STYLIST_API_URL=
VITE_STYLIST_API_TOKEN=
VITE_STYLIST_MODEL=
VITE_VISION_API_URL=
VITE_VISION_API_TOKEN=
VITE_SEGMENTATION_API_URL=
VITE_SEGMENTATION_API_TOKEN=
VITE_SEGMENTATION_MODEL=BiRefNet
VITE_SIMILAR_SEARCH_API_URL=
VITE_SIMILAR_SEARCH_API_TOKEN=
VITE_SIMILAR_SEARCH_MODEL=
